@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-poppins);
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .max-width-section {
    @apply max-w-[1500px] m-auto;
  }
  .padding-section {
    @apply px-5 md:px-12 lg:px-16;
  }
}
